<div class="container content devise">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="container">
          <h3><strong>Update Your Info</strong></h3>
          
          <br>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.text_field :first_name, placeholder: "First Name", class: "form-control" %>
            </div>
            
            <div class="form-group">
              <%= f.text_field :last_name, placeholder: "Last Name", class: "form-control" %>
            </div>
            
            <div class="form-group">
              <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", placeholder: "New Password (leave blank if you don't want to change it)", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password", class: "form-control" %>
            </div>

            <div class="field">
              <%= f.password_field :current_password, autocomplete: "off", placeholder: "Current Password (we need your current password to confirm your changes)", class: "form-control" %>
            </div>
            
            <br>

            <div class="actions">
              <%= f.submit "Update", :class => "btn btn-save" %>
            </div>
          <% end %>
          
          <br><hr>

          <% if current_user.subscribed? %>
            <h3>Billing</h3>

            <% if current_user.expires_at? %>
              <p>Your access expires in <%= distance_of_time_in_words current_user.expires_at - Time.zone.now %>.</p>
            <% else %>
              <div>
                <p>You are currently subscribed. <%= link_to "Cancel your subscription", subscription_path, method: :delete, data: {confirm: "Are you sure you want to cancel your subscription?"}, class: "small underline" %></p>
                <div><strong>Card on file:</strong> <%= current_user.card_brand %> (**** **** **** <%= current_user.card_last4 %>)</div>
                <div><strong>Expiration:</strong> <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>
                <br>
                <%= link_to "Update your card", subscription_path %>
              </div>
            <% end %>

          <% else %>

            <h4>Cancel my account</h4><small>You are not subscribed to a plan.</small>

            <p><small><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-save" %></small></p>

            <small><%= link_to "Back", :back %></small>
            <br>
          <% end %>
          
          <br>
          
          <% if current_user.charges.any? %>
            <hr>
            <h4>Charges</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                <% current_user.charges.each do |charge| %>
                  <tr>
                    <td><%= charge.created_at.to_date %></td>
                    <td><%= number_to_currency charge.amount / 100 %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</div>
