<footer class="footer">
  <div class="container">
    <ul class="navbar-nav navbar-left no-bullet small">
      <li>&copy; Postuur</li>
    </ul>
    <ul class="navbar-nav navbar-right no-bullet small">
      <li><%= link_to 'About', about_path, class: "underline" %></li>
      <li><%= link_to 'Pricing', pricing_path, class: "underline" %></li>
      <li><%= link_to 'Terms', terms_path, class: "underline" %></li>
      <li><%= link_to 'Privacy', terms_privacy_policy_path, class: "underline" %></li>
      <li><%= link_to 'Support', support_path, class: "underline" %></li>
    </ul>
    <ul class="navbar-nav navbar-right no-bullet">
      
    </ul>
  </div>
</footer>