<!DOCTYPE html>
<html>
  <head>
    <title>Postuur</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'https://js.stripe.com/v2/', 'data-turbolinks-track': 'reload' %>
    
    <%= tag :meta, name: "stripe-public-key", content: Rails.application.secrets.stripe_public_key %>
    
    <%= favicon_link_tag asset_path('postuur.ico'), :rel => 'icon', :type => "image/x-icon" %>
    
    <link rel="stylesheet" href="https://use.typekit.net/wgg1szv.css">
  </head>

  <body>
    <% flash.each do |key, value| %>
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= value %>
        </div>
      <% end %>
    <% end %>
    
    <%= render 'shared/navbar' %>
    
    <%= yield %>
    
    <%= render 'shared/footer' %>
    
  </body>
</html>
